fastapi
uvicorn[standard]

ultralytics
torch
torchvision
torchaudio

opencv-python
numpy
pillow

python-multipart
python-dotenv

pydantic
pydantic-settings

websockets

aiofiles

loguru

jinja2

matplotlib
pandas

pytest
httpx